* {
  margin: 0;
  padding: 0;
}

.headingStyle {
  background-color: purple;
  color: white;
  padding: 15px;
  text-align: center;
}

.card {
  background-color: aqua;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 3px black;
  margin-top: 10px;
}
.card:hover {
  box-shadow: 2px 4px 4px black;
}
.cardTitle {
  background-color: blueviolet;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cardDesc {
  background-color: beige;
}
.cardFooter {
  background-color: black;
  color: white;
}
